* {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F5F6F7;
}

/*************************************************** ERROR STYLES *******************************************************/

.error_container {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_wrap {
    width: 600px;
    min-width: 320px;
    padding: 50px;
}

.error_headers {
    padding-bottom: 20px;
    font-size: 32px;
    color: #111111;
}

.error_message {
    font-size: 16px;
    color: #626262;
}


/*************************************************** END OF ERROR STYLES *******************************************************/

/*************************************************** FORMS SHARED STYLES *******************************************************/

.form_container {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    background-color: #FFFFFF;
    width: 400px;
    min-width: 320px;
    padding: 50px;
    border-radius: 4px;
    border: #E8E8E8 solid 1px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}


.form_heading {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}


.form_element_wrap {
    width: 100%;
    padding: 8px;
}
.form_info_wrap {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.form_button_element_wrap {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
}

.form_element {
    width: 100%;
}

.google_login_button {
    padding: 8px;
    width: 100%;
}

.separator_wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #3b3b3b;
    padding: 8px;
}

.form_button_text_wrap {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
    font-size: 13px;

}

.single_line_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 8px;
    padding-right: 8px;
    gap: 10px
}

.single_line_form_text {
    flex-grow: 4;
}

.single_line_form_button {
    flex-grow: 1;
}

.alert_container {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small_link {
    font-size: 13px;
}

.small_link > a {
    text-decoration: none;
    color: #626262;
}
.small_link > a:hover {
    text-decoration: underline;
}

/*************************************************** END OF FORMS SHARED STYLES *******************************************************/